<!DOCTYPE html>
<html>
<head>
    <title>Plot</title>
    <!-- Include necessary Plotly dependencies -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Upload a *.log File</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".log" required>
        <input type="submit" value="Upload">
    </form>
    <h1>Plot</h1>
    <div id="plot_div">
        <!-- The Plotly plot will be inserted here -->
        {{ plot | safe }}
    </div>
</body>
</html>